<html>
    {{!-- <head>
        <link rel="stylesheet" href="/css/style.css"/>
        <script src="js/alert.js"></script>
    </head> --}}
    <body>
        {{>header}}
        <h1>device page</h1>
        <h4>{{designation}}</h4>
        {{>footer}}
    </body>
</html>