<html>
    <head>
        <link rel="stylesheet" href="/css/style.css"/>
        <script src="js/alert.js"></script>
    </head>
    <body>
        {{>header}}
        <h1>Learning node classes hbs file refeering index page</h1>
        <h4>{{name}}</h4>
        {{>footer}}
    </body>
</html>